.programmation-container{
    width: 95%;
    margin: auto;
}

.shedules-container{
    width: 83%;
    margin: auto;
}


.level-and-confirm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}

