/*Style du composant Login*/

.login-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.login-popup{
    width: 35%;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 25px;
}

.popup-title{
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
}

.login-field{
    width: 92%;
    height: 30px;
    background-color: #d1edeeaf;
    border: 1px solid #17bcc1;
    border-radius: 5px;
    font-family: inherit;
    padding: 5px;
    padding-left: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.login-submit{
    width: 95%;
    border: none;
    padding: 10px;
    background-color: #17bcc1;
    color: white;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
}

.signin-select{
    height: 35px;
    width: 80%;
    background-color: #c4c4c4;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.red-sign{
    color: red;
    font-weight: 600;
}

.display-error{
    color: red;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 7px;
}


/* Style du composant Loader */

.loader {
    border: 1px solid white;
    border-radius: 50%;
    border-top: 2px solid #17bcc1;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    text-align: center;
    margin-left: 45%;
    margin-top: 1px;
  }



  .login-header{
      display: flex;
      justify-content: space-between;
  }
  
  .close-pop:hover{
    background-color: #17bbc13d;
    border-radius: 3px;
    cursor: pointer;
  }

  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }