/*Style global du body*/
body{
    font-family: 'Montserrat';
}


/*Style su composant Home*/

.home-container{
    width: 90%;
    margin: auto;
}

.home-banner{
    height: 250px;
    background-image: url("../../images/fond-baniere-home.png");
    background-size: 100% 350px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.banner-title{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.banner-search-field{
    width: 60%;
    height: 40px;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-family: inherit;
}

.banner-button{
    width: 230px;
    height: 30px;
    background-color:rgba(196, 196, 196, 0.50);
    color: white;
    border-radius: 3px;
    padding-top: 10px;
    margin-right: 15px;
    font-weight: 600;
    cursor: pointer;
}

.banner-button:hover{
    background-color:rgba(196, 196, 196, 0.75);
}

.banner-foot{
    display: flex;
    justify-content: center;
}
