/*Style du composant lat-bar*/

.lat-bar-container{
    width: 25%;
    padding: 20px;
    background-color: rgba(196, 196, 196, 0.5);
    height: 190px;
}

.lat-bar-item{
    height: 45px;
    background-color: white;
    padding: 4px 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
}

.lat-bar-item:hover{
    border-left: 15px solid #0043A7;
}

.add-new-ressource{
    width: 90%;
    background-color: #6000C0;
    color: white;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.lat-bar-router-link{
    text-decoration: none;
    color: black;
}

