/*Style du composant Ressource*/

.ressource-container{
    width: 95%;
    display: flex;
    margin: auto;
    margin-top: 70px;
    justify-content: space-between;
}

.right-side{
    width: 70%;
    animation-name: change-ressource;
    animation-duration: 0.15s;
    
}

.right-side-header{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 1.5em;
    font-weight: 600;
}

.new-salle{
    width: 150px;
    background-color: #c4c4c4;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.9em;
    cursor: pointer;
    margin-right: 5px;
}

.search-field{
    width: 70%;
    border: none;
    text-align: left;
    font-family: inherit;
    cursor: auto;
}


.for-ressource{
    width: 50%;
}

.search-field:focus{
    border: none;
}

.new-salle-and-search{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.big-display-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.new-elt-button{
    background-color: #0043A7;
    padding: 7px;
    color: white;
    border-radius: 3px;
    margin-right: 5px;
    height: 23px;
    cursor: pointer;
}

.display-type{
    display: flex;
}




.display-type-select{
    width: 250px;
    background-color: #c4c4c4d8;
    border: none;
    margin-left: 10px;
    height: 35px;
    padding: 8px;
    font-family: inherit;
    margin-top: 15px;
    border-radius: 5px;
}

/*Style du composant Unit salle*/

.unit-salle{
    width: 7%;
    height: 20px;
    padding: 10px;
    background-color: #0043A7;
    color: white;
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    margin : 0 5px 5px 0;
    cursor: pointer;
}

.ressource-active-sign{
    position: absolute;
    background-color: #0043A7;
    height: 45px;
    width: 10px;
}

.salle{
    left: 4%;
    top: 100px;
}










/*Animation de quelques section des ressources*/

@keyframes change-ressource {
     from{
        margin-left: 10%;
    }

    to{
        margin-left: 0%;
    }
}