/*Ce fichier contiendra le style des deux affichage. Batiment et taille*/

.display-salle{
    display: flex;
    margin : 10px;
    flex-wrap: wrap;

}

.btp-title{
    font-weight: 600;
}

/*POur salle attente*/

.load-unit-salle{
    width: 7%;
    height: 20px;
    padding: 10px;
    background-color: #c4c4c4da;
    color: white;
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    margin : 0 5px 5px 0;
    cursor: pointer;
}

.load-title{
    width: 150px;
    height: 20px;
    background-color: #7e7e7e;
}


.load-big-container{
    animation: load-salle 0.5s infinite
}



@keyframes load-salle{
    from{
        opacity: 50%;
    }
    to{
        opacity: 90%;
    }
}